body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    margin-top: 50px;
}

.support-form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.support-form-header {
    display: block !important;
    visibility: visible !important;
}

.support-form-header h3 {
    color: #0072bc;
}

.support-form-group {
    margin-bottom: 15px;
    max-width: 500px; /* Hoặc giá trị phù hợp với thiết kế */
    margin: 0 auto; /* Căn giữa */
}

.support-form-control {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.support-form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.support-form-button {
    text-align: center;
    margin-top: 20px;
}

.support-btn-submit {
    background-color: #0072bc;
    color: white;
    border-color: #0072bc;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.support-btn-submit:hover {
     background-color: #005a94;
    color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 114, 188, 0.3);
}