body {
  font-family: Arial, sans-serif;
  border-radius: 12px; /* Bo tròn góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.banner {
  background: linear-gradient(to right, #3fbbc0, #0d888d);
}

.icon {
  width: 60px;
  height: 60px;
}

.card img {
  height: 180px;
  object-fit: contain;
  padding: 15px;
}
header img {
  width: 150px;
  height: auto;
}
/* Thanh điều hướng */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* Icon menu (3 gạch) */
.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Menu chính */
.menu {
  position: fixed;
  top: 0;
  right: -250px; /* Ẩn menu */
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  transition: 0.3s;
}

.menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.menu a:hover {
  background-color: #ffffff;
}

/* Nút đóng */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.navbar {
  background-color: rgb(240, 239, 239);
  color: black;
  border-radius: 12px; /* Bo tròn góc */
  box-shadow: 0 4px 8px rgba(183, 183, 183, 0.1); /* Đổ bóng nhẹ */
}

.table-bordered th,
.table-bordered td {
  border: 2px solid black !important;
}

.table thead th {
  background-color: #3fbbc0; /* Giữ nền tối cho tiêu đề */
  color: white;
}

.table-responsive {
  border-radius: 12px; /* Bo tròn góc */
}

.container h1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
