<div th:fragment="layout-sidebar" class="sidebar">
  <ul class="sidebar-menu">
    <li class="menu-item">
      <span><i class="bx bx-calendar"></i>Đặt lịch</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-user"></i>Chăm sóc khách hàng</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-id-card"></i>Thông tin khách hàng</span>
    </li>    
    <li class="menu-item has-submenu">
      <div>
        <span><i class="bx bx-refresh"></i>Cập nhật</span>
        <i class="bx bx-chevron-down arrow"></i>
      </div>
      <ul class="submenu">
        <li class="submenu-item">
          <span><i class="bx bx-check"></i>Cập nhật hồ sơ trẻ em</span>
        </li>
        <li class="submenu-item">
          <span><i class="bx bx-check"></i>Cập nhật quá trình tiêm chủng</span>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-bell"></i>Phản ứng sau tiêm</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-support"></i>Support</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-star"></i>Feedback</span>
    </li>
    <li class="menu-item has-submenu">
      <div>
        <span><i class="bx bx-folder"></i>Khác</span>
        <i class="bx bx-chevron-down arrow"></i>
      </div>
      <ul class="submenu">
        <li class="submenu-item">
          <span><i class="bx bx-check"></i>Lịch sử giao dịch</span>
        </li>
        <li class="submenu-item">
          <span><i class="bx bx-check"></i>Phản hồi</span>
        </li>
      </ul>
    </li>
  </ul>
</div>
