<div th:fragment="layout-sidebar-admin" class="sidebar">
  <ul class="sidebar-menu">
    <li class="menu-item">
      <span><i class="bx bx-calendar"></i>Tất cả lịch đăng ký</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-user"></i>Danh sách tài khoản</span>
    </li> 
    <li class="menu-item has-submenu">
      <span><i class="bx bx-refresh"></i>Cập nhật quá trình tiêm chủng</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-bell"></i>Phản ứng sau tiêm</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-support"></i>Support</span>
    </li>
    <li class="menu-item">
      <span><i class="bx bx-star"></i>Feedback</span>
    </li>
  </ul>
</div>
