<head th:fragment="head">
  <meta charset="utf-8" />
  <title>CVC - Children Vaccine</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../assets/img/logo-favicon.png" />
  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap"
    rel="stylesheet"
  />

  <!-- Icon Font Stylesheet -->
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
  />

  <!-- Libraries Stylesheet -->
  <link href="../lib/animate/animate.min.css" rel="stylesheet" />
  <link
    href="../lib/owlcarousel/assets/owl.carousel.min.css"
    rel="stylesheet"
  />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="../assets/css/style.css" rel="stylesheet" />
  <!-- <link href="../assets/css/styles_DatLich.css" rel="stylesheet" />
  <link href="../assets/css/style_Support.css" rel="stylesheet" /> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="../assets/js/banggia.js"></script>

  <link rel="stylesheet" href="../assets/css/goivaccine.css" />
  <script src="../assets/js/main_CreateSupport.js"></script>

  <script src="../assets/js/lichtiem_Admin.js"></script>
  <script src="../assets/js/taikhoan_Admin.js"></script>
  <script src="../assets/js/support_Admin.js"></script>

  <script src="../assets/js/progress_Admin.js" defer></script>
  <script src="../assets/js/progress.js" defer></script>
  
  <script src="../assets/js/feedback.js" defer></script>
  
  <script src="../assets/js/phan_ung.js" defer></script>
</head>
