<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Lịch tiêm đã đăng ký</title>
</head>
<body>
  <h1>Danh sách lịch tiêm đã đăng ký</h1>
 <main class="p-4">
    <h2 class="mb-3">Tất cả lịch tiêm đã đăng ký</h2>

    <table class="table table-bordered text-dark">
      <thead>
        <tr>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th>Tỉnh</th>
          <th>Quận/Huyện</th>
          <th>Phường/Xã</th>
          <th>Người Liên Hệ</th>
          <th>Quan hệ</th>
          <th>Số điện thoại</th>
          <th>Vaccine</th>
          <th>Ngày tiêm</th>
        </tr>
      </thead>
      <tbody id="lichTiemBody">
        <!-- Dữ liệu sẽ được load bằng JS -->
      </tbody>
    </table>
  </main> 
</body>
</html>