<body>
    <div class="support-image">
        <img src="../assets/img/support.jpg" alt="Quick and Efficient Support" style="width:100%;">
    </div>
    <div class="container_SP">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="outer_box_green">
                    <div class="triangle triangle-green">
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </div>
                    <div class="box-body">
                        <P class="tieude_top">Tạo hỗ trợ mới</P>
                        <p>Vui lòng cung cấp càng chi tiết càng tốt để CVC có thể hỗ trợ bạn tốt nhất.</p>
                        <a class="btn btn-success" href="/pages/create_support">Tạo hỗ trợ mới</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="outer_box_blue">
                    <div class="triangle triangle-blue">
                        <i class="fa-solid fa-file-circle-check"></i>
                    </div>
                    <div class="box-body">
                        <p class="tieude_top">Kiểm tra tình trạng Yêu cầu</p>
                        <p>CVC lưu trữ lịch sử của tất cả các yêu cầu hỗ trợ hiện tại và trước đây của bạn kèm theo phản hồi.</p>
                        <a class="btn btn-primary text-white" href="/pages/check_status">Kiểm tra tình trạng yêu cầu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>